#apartment_create{
    .main-block{
        height: calc(100vh - 71px - 10vh );
        
        h2{
            font-size: calc(1rem + 2.8vw);
            margin-bottom: 6vh;
        }

        p{
            font-size: calc(1rem + 1vw);
        }

    }

    .progress-block{
        width: 100vw;
        margin: 0;
    }

    #autocomplete_list{
        list-style-type: none;
        padding-left: 0;
        li{
            border: 1px solid black;
            border-top: 0px;
            border-radius: 0.3rem;
            cursor: pointer;

            &:hover{
                background-color: rgba(123, 211, 255, 0.225);
            }
        }
    }
}