#apartment_create{

    #input-container{

        margin-bottom: 30vh;

        #address{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    
        #autocomplete_list{
            position: absolute;
            width: 100%;
            list-style-type: none;
            padding-left: 0;
            li{
                border: 1px solid rgb(197, 197, 197);
                border-top: 0px;
                border-radius: 0;
                padding: 0.5rem 0;
                cursor: pointer;
    
                &:hover{
                    background-color: rgba(123, 211, 255, 0.225);
                }
    
            }
        }
    }


    #services-list{
        list-style-type: none;
        li{
            div{
                box-shadow: 0px 0px 5px black;
                border-radius: 0.4rem;
                padding: .4rem 0;
                transition: all .5s;

                &.selected{
                    box-shadow: 0px 0px 5px #ff385d;
                    color: #ff385d;    
                }

                
                &:hover{
                    background-color: #ff385d;
                    color: white;
                }

                i, h3, h4{
                    pointer-events: none;
                }
            }
        }
    }
}